*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
.home{
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 1200px;
    padding: 186px 472px 187px 472px;
    background: #F1F4FD;
}
.shape{
    width: 400px;
    height: 484px;
    flex-shrink: 0;
    margin: 10px 20px;
    border-radius: 80px;
    background: #131339;
}
.about{
    padding: 54px;
    flex-direction: column;
    align-items: flex-start;
    width: 463px;
    height: 644px;
    margin: -400px 100px ;
    gap: 40px;
    background: #FAFBFF;
    border-radius: 32px;
    box-shadow: 20px 34px 74px 0px rgba(21, 21, 106, 0.07);
}
h3{
    padding-bottom: 5px;
    color: #131339;
}
p{
    display: flex;
    width: 370px;
    flex-direction: column;
    color: var(--131339, #131339);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}
.button1{
    display: flex;
    padding: 10px 20px;
    height: 40px;
    width: 110px;
    align-items: flex-start;
    gap: 16px;
    background: #131339;
    border-radius: 32px;
    color: #fff;
}
.button1:hover{
    background: #F1F4FD;
    color: #131339;
    font-weight: bolder;
    width: 120px;
    cursor: pointer;
}
.headtext{
    color: var(--131339, #131339);
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 10px;
}
.box1{
    display: flex;
    width: 380px;
    height: 46px;
    padding: 10px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 5px;
}
.text1{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    color: var(--131339, #131339);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}
span{
    color: var(--131339, #131339);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}
.box-big{
        display: flex;
        width: 380px;
        height: 86px;
        padding: 10px;
        align-items: center;
        gap: 16px;
        border-radius: 8px;
        background: #FFF;
        margin-bottom: 10px;
}
.btn1{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 500px;
    border-radius: 32px;
}
.btn-text{
    display: flex;
    flex-direction: column;
    color: #FFF;
    height: 40px;
    width: 100px;
    padding: 10px 14px;
    border-radius: 32px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #131339;
}
.btn-text:hover{
    cursor: pointer;
    color: #131339;
    font-weight: 800px;
    background: #F1F4FD;
}
.btn-text2{
    display: flex;
    padding: 10px 24px;
    height: 40px;
    width: 195px;
    border-radius: 32px;
    background: var(--131339, #131339);
    color: #FFF;
}
.btn-text2:hover{
    cursor: pointer;
    color: #131339;
    font-weight: 800px;
    background: #F1F4FD;
}